<html>
<head>
    <meta charset="utf-8">
    <title>Booking - Confirmation</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }

        table {
            width: 100%;
            border-collapse: collapse; /* To merge borders */
        }

        table, td, th {
            border: 1px solid black;
            padding: 3px 2px;
        }
    </style>
</head>
<body>
<section>
    <header>
        <h1>Event Booking Page - Booking Confirmation</h1>
    </header>
    <div>
        <form th:action='@{/eventBooking}' th:method="POST">
            <label>
                Search:
                <input type="search" name="search">
                <input type="submit" value="Search">
            </label>
        </form>
        <table>
            <thead>
            <tr>
                <th colspan="4">Your Booking Status</th>
            </tr>
            <tr>
                <th>Attendee Name</th>
                <th>Client IP Address</th>
                <th>Booking for Event</th>
                <th>Number of Tickets</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="booking : ${searched}">
                <td th:text="${booking.attendeeName}"></td>
                <td th:text="${booking.attendeeAddress}"></td>
                <td th:text="${booking.eventName}"></td>
                <td th:text="${booking.numberOfTickets}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>
